<button  mat-raised-button color="warn" mat-dialog-close style="float: right;"> <i class="fas fa-window-close    "></i> </button>
<div style="    text-align: left; margin-bottom: 10px;">
  <button class="btn"style="background-color: white;color: black;float: left" (click)="imprimerLalisteDeConge()"
matTooltip="Ce button permet d imprimer ce table en format PDF"
><i class="fa fa-file-pdf" ></i>  Export <strong>PDF</strong> </button>
</div>
<h4 >Liste de conge en detailes de {{employefullname}}  </h4>

<table class="table table-hover table-striped table-dark" style="color: wheat">
  <thead>
    <th>Nom de l employe</th>
    <th>Type de conge</th>
    <th>Date de debut</th>
    <th>Periode</th>
    <!-- <th>Raison</th> -->
    <!-- <th>Action</th> -->
  </thead>
  <tbody>
    <p-progressSpinner *ngIf="listeVide()" ></p-progressSpinner>
    <tr *ngFor="let c of conges">
      <td>{{c.employe.fullName}}</td>
      <td>{{c.congee.libelle}}</td>
      <td>{{c.dateDeDebut.toString()}}</td>
      <td>{{c.periode}}</td>
      <!-- <td>{{c.raison}}</td> -->
      <!-- <td><button class="btn btn-info btn-sm fa fa-trash"
          (click)="deleteByReference(c)"></button>
        <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerUnEmployer(c)"></button>
      </td> -->
    </tr>
  </tbody>
</table>
<!-- <button class="btn"style="background-color: yellow;color: beige;width: 80px;"
matTooltip="Ce button permet d imprimer ce table sous format PDF"
><i class="fa fa-file-pdf" ></i> PDF</button> -->

