<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-chart-bar    "></i> Informations en detailles sur un Employe </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="padding-top:20px">
  <mat-form-field style="padding-bottom:50px;width:100%">
    <mat-label> <i class="fas fa-user-tie    "></i> Choisir un employer  en utilisant le doti</mat-label>
    <mat-select [(ngModel)]="employeInfo.doti" [ngModelOptions]="{standalone: true}" (selectionChange)="trouverEmployerParSonDoti(this.employeInfo.doti)">
      <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.fullName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row ">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> <span>
                <i class="fas fa-user-circle    "></i> Informations personnels</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations personneles de cet employe.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">

                <span>
                  <h6>Nom Complet : {{employeInfo.fullName}} </h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Carte National d identite : {{employeInfo.cin}}</h6>
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>Numero d emploi ( DOTI) : {{employeInfo.doti}}</h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Situation Familiale : {{employeInfo.situationFamiliale}}</h6>
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>Enfants: {{employeInfo.enfants}}</h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Email : {{employeInfo.email}}</h6>
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>RIB de Bank : {{employeInfo.compteBancaireRib}}</h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Pays : {{employeInfo.pays}}</h6>
                </span>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>Adresse : {{employeInfo.adresse}}</h6>
                </span>
              </div>
              <div class="col-md-6">
                <span>
                  <h6>Fonction : {{employeInfo.fonction.libelle }}</h6>
                </span>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> <i class="fas fa-building    "></i> Info sur son / sa departement</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations sur le departement de cet employe.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">

                <span>
                  <h6>Departement : {{employeInfo.dep.nom}}</h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Nom de Chef de departement:
                    <div *ngIf="employeInfo.sup == null; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>pas de sup</ng-template>
                    <ng-template #elseBlock> {{employeInfo.sup.fullName}} </ng-template>
                  </h6>
                </span>

              </div>
            </div>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> <i class="fas fa-level-up-alt    "></i> Grade</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations sur le grade de cet employe.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">

                <span>
                  <h6>Grade : {{employeInfo.dernierGrade.grade.libelle}} </h6>
                </span>

              </div>
              <div class="col-md-6">
                <span>
                  <h6>Date d affectation de ce grade: {{employeInfo.dernierGrade.dateDeAffectation}}</h6>
                </span>

              </div>
            </div>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><i class="fas fa-sticky-note   "></i> Informations sur son / sa Note</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations sur les notes d evaluation de cet employe.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>Moyen :
                    {{employeInfo.dernierNote.moyenGeneral}}
                  </h6>
                </span>
              </div>
              <div class="col-md-6">
                <span>
                  <h6>Mention :
                    {{employeInfo.dernierNote.mention}}
                    </h6>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <h6>Date de dernier Note Saisie :
                    {{employeInfo.dernierNote.date}}
                  </h6>
                </span>
              </div>
              <div class="col-md-6">
              </div>
            </div>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          (click)="Trouversalaireemploye(this.employeInfo.doti)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> <i class="fas fa-money-bill-wave    "></i> Informations sur le Salaire</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations sur le salaire de cet employe en detailles.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row" style="font-size: medium; margin-bottom: 10px">
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #ffa700;">salaire Net:</mat-label>
              <mat-label>{{saleireEmolye.salaireNet}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #ffa700;">salaire modifie:</mat-label>
              <mat-label>{{saleireEmolye.monatntModifie}}</mat-label>
            </div>
          </div>
          <div style="font-size: x-large;color: #008744; margin-bottom: 10px; margin-top: 10px"> Emoluments: </div>
          <div class="row" style="font-size: medium; margin-bottom: 10px;color: #008744">
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #008744;">allocation d'encadrement:</mat-label>
              <mat-label>{{saleireEmolye.allocationDeEncadrement.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #008744;">allocation d'enseignement:</mat-label>
              <mat-label>{{saleireEmolye.allocationDeEnseignement.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #008744;">idem Famialiele Marocaine:</mat-label>
              <mat-label>{{saleireEmolye.idemFamialieleMarocaine.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #008744;">idem De La Residence:</mat-label>
              <mat-label>{{saleireEmolye.idemDeLaResidence.montant}}</mat-label>
            </div>
          </div>
          <div style="font-size: x-large;color: #d62d20; margin-bottom: 10px; margin-top: 10px"> Revenu: </div>
          <div class="row" style="font-size: medium; margin-bottom: 10px">
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #d62d20;">mutuelle Caisse Retrait Et Deces:</mat-label>
              <mat-label>{{saleireEmolye.mutuelleCaisseRetraitEtDeces.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #d62d20;">impot Sur Le Revenu:</mat-label>
              <mat-label>{{saleireEmolye.impotSurLeRevenu.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #d62d20;">caisse Marocaine De retrait:</mat-label>
              <mat-label>{{saleireEmolye.caisseMarocaineDeretrait.montant}}</mat-label>
            </div>
            <div class="col-md-6">
              <mat-label style="margin-right: 10px; color: #d62d20;">assurance Maladie Obligatoire:</mat-label>
              <mat-label>{{saleireEmolye.assuranceMaladieObligatoire.montant}}</mat-label>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        (click)="TrouverFPP(this.employeInfo.doti)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><i class="fas fa-bookmark"></i> Formation, Prix Et Punition</span>
            </mat-panel-title>
            <mat-panel-description>
              Cette partie contient les informations sur les formations,prix et punitions de cet employe.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6" *ngFor="let f of formations">
                <h3>Formation</h3>
                <!---Idem pour punition et prix j pense -->
{{f.annee}} <br> {{f.attestation}} <br> {{f.etablissement}} <br> {{f.mention}} <br> {{f.ville}}
              </div>
              <div class="col-md-6">
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
<button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerInfoEmploye()" ><i class="fa fa-file-pdf"  ></i> PDF</button>
