<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-plus-circle    "></i> {{ajoutepunition}}</span>
    <button mat-raised-button color="warn" mat-dialog-close style="float: right;" matTooltip="Fermer le dialog"> <i
      class="fas fa-window-close "></i> </button>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="controles-container">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field style="width: 100px">
                <input matInput  [(ngModel)]="punitionEmploye.employe.doti" placeholder="Numéro Administrative :*" [ngModelOptions]="{standalone: true}" [value]="punitionEmploye.employe.doti" (pointermove)="getEmployePunitiondoti(punitionEmploye.employe.doti)" (pointercancel)="getEmployePunitiondoti(punitionEmploye.employe.doti)" (pointerleave)="getEmployePunitiondoti(punitionEmploye.employe.doti)">
              </mat-form-field>
            </div>
            <div class="col-md-9" style="margin-top: 10px" id="fullnamePunition">
              <div *ngIf="punitionEmploye.employe.doti != null; else elseBlock" >{{fullnamePunition}}</div>
              <ng-template #elseBlock></ng-template>
            </div>
          </div>
          <mat-form-field>
            <mat-label>Violation </mat-label>
            <mat-select [(ngModel)]="punitionEmploye.punition.libelle" [ngModelOptions]="{standalone: true}" [value]="punitionEmploye.punition.libelle">
              <mat-option *ngFor="let p of punitions" [value]="p.libelle">{{p.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field>
            <input matInput placeholder="Violation ">
          </mat-form-field> -->
          <mat-form-field>
            <input matInput [matDatepicker]="pi5" placeholder="Date de Punition"
            [(ngModel)]="punitionEmploye.dateObtenation" [ngModelOptions]="{standalone: true}" [value]="punitionEmploye.dateObtenation">
            <mat-datepicker-toggle matSuffix [for]="pi5"></mat-datepicker-toggle>
            <mat-datepicker #pi5></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="controles-container">
          <!--
          <mat-form-field>
            <input matInput placeholder="Periode de punition " type="number"  >
          </mat-form-field> -->
          <mat-label></mat-label>
          <mat-form-field>
            <mat-label>Remarques , Commentaires ou Description</mat-label>
            <textarea  [(ngModel)]="punitionEmploye.remarque" matInput placeholder="Ex. Cet employé est ..." [value]="punitionEmploye.remarque"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
<div class="col-md-3">
  <button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" (click)="save()"> <i
    class="fas fa-check-circle"></i> Ajouter</button>
</div>
  <div class="col-md-3">
<button mat-raised-button color="warn" class="btn-block" *ngIf="punitionEmploye.id != null" (click)="deletePunition()">Supprimer</button>
</div>
</div>
