<mat-tab-group style="width: 100%;"  (selectedIndexChange)="demo1BtnClick(tabindex)"
               [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="LISTES DES EMPLOYES AVEC LEURS FORMATIONS " style="width: 25px" tabindex="1">
    <div class="example-large-box mat-elevation-z4" >
      <mat-toolbar (click)="afficher()" style="cursor: pointer;">
        <mat-toolbar-row>
          <span class="span"> <i class="fas fa-graduation-cap    "></i> Chercher les formations d'un employe a partir du <strong>doti</strong>  </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="card" style="background-color: #343a40; color: wheat; text-align: center" id="checherFormation">
        <div class="card-body">
          <mat-form-field  style="width: 500px">
            <mat-label style="text-align: center"> <i class="fas fa-user-tie"></i> Selectionnez l employe concerene</mat-label>
            <mat-select [(ngModel)]="this.employe.doti" [ngModelOptions]="{standalone: true}" (ngModelChange)="getFormationsByDoti()">
              <mat-option [value]="null">---None---</mat-option>
              <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.fullName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="tableFormation">
        <mat-toolbar>
          <mat-toolbar-row>
            <span class="span"><i class="fas fa-graduation-cap    "></i> la listes des formations  </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <table class="table table-hover table-dark table-striped" style="color: wheat">
          <thead>
          <th>Employe</th>
          <th>Attestation</th>
          <th>Mention</th>
          <th>Annee</th>
          <th>Ville</th>
          <th>Etablissement</th>
          <th>Domaine</th>
          <!-- <th style="padding-left: 40px">Action</th> -->
          </thead>
          <tbody>
          <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

          <tr *ngFor="let c of formations">
            <td>{{c.employe.fullName}}</td>
            <td>{{c.attestation}}</td>
            <td>{{c.mention}}</td>
            <td>{{c.annee}}</td>
            <td>{{c.ville}}</td>
            <td>{{c.etablissement}}</td>
            <td>{{c.domaine}}</td>
            <!-- <td>
              <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerFormation(c)"></button>
              <button class="btn btn-primary btn-sm fa  fa-check-square" ></button>
              <button class="btn btn-info btn-sm fa fa-trash"></button>
            </td> -->
          </tr>
          </tbody>
        </table>
        <button mat-raised-button class="btn"style="background-color: white;color: black;"(click)="imprimerLesFormations(this.formations)" ><i class="fa fa-file-pdf"  ></i> Export <b>PDF</b> </button>
      </div>
    </div>
    <!-- <button *ngIf="formations"  mat-raised-button class="btn btn-primary"style=" margin-top: 20px"(click)="imprimerLesFormations(this.formations)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->
  </mat-tab>
  <mat-tab label="AFFECTER UNE FORMATION A UN EMPLOYE" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
    <app-ajouter-formation></app-ajouter-formation>
    </div>
  </mat-tab>
</mat-tab-group>
