<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-user-edit    "></i> Modifier Les donnes d un employe </span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="controles-container">
          <div class="controles-container">
            <mat-form-field>
              <mat-label> <i class="fas fa-user-tie    "></i> Trouver l'employer par en utilisant le doti</mat-label>
              <mat-select [(ngModel)]="EditEmploye.doti" [ngModelOptions]="{standalone: true}" (selectionChange)="trouverEmployerParSonDoti(this.EditEmploye.doti)">
                <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.doti }}</mat-option>
              </mat-select>
            </mat-form-field>
          <mat-form-field>
            <label> Full Name :* </label>
            <input matInput  [(ngModel)]="EditEmploye.fullName"
                   [ngModelOptions]="{standalone: true}" [value]="EditEmploye.fullName" >
          </mat-form-field>
          <!-- <mat-form-field>
            <label> cin:* </label>
            <input matInput  [(ngModel)]="EditEmploye.cin" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.cin">

          </mat-form-field> -->
          <mat-form-field>
            <label> Gmail :* </label>
            <input matInput  [(ngModel)]="EditEmploye.email" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.email">

          </mat-form-field>
          <mat-form-field>
            <label> Telephone :* </label>
            <input matInput  [(ngModel)]="EditEmploye.tel" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.tel">
          </mat-form-field>
          <mat-form-field>
            <label> Adresse :* </label>
            <input matInput placeholder="Adresse" [(ngModel)]="EditEmploye.adresse" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.adresse">
          </mat-form-field>
            <!-- <mat-form-field>
              <label>date de naissance</label>
            <input matInput [matDatepicker]="picker"
                   [(ngModel)]="EditEmploye.dateDeNaissance" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.dateDeNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field>
            <label> Ville: * </label>
            <input matInput  [(ngModel)]="EditEmploye.pays" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.pays">

          </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="controles-container">
          <!-- <mat-form-field>
            <label>Grade</label>
            <mat-select [(ngModel)]="EditEmploye.dernierGrade.grade.libelle" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.dernierGrade.grade.libelle">
              <mat-option *ngFor="let gr of grades" [value]="gr.libelle">{{gr.libelle }}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field>
            <label>date d'Affectation</label>
            <input matInput [matDatepicker]="pi5"
                   [(ngModel)]="EditEmploye.dernierGrade.dateDeAffectation" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.dernierGrade.dateDeAffectation">
            <mat-datepicker-toggle matSuffix [for]="pi5"></mat-datepicker-toggle>
            <mat-datepicker #pi5></mat-datepicker>
          </mat-form-field> -->
          <br><br>
          <mat-form-field>
            <label>Situation Familiale</label>
            <mat-select [(ngModel)]="EditEmploye.situationFamiliale" [ngModelOptions]="{standalone: true}" [value]="EditEmploye.situationFamiliale">
              <mat-option value="Marie">Marie</mat-option>
              <mat-option value="Celebataire">Celebataire</mat-option>
              <mat-option value="Divorce">Divorce</mat-option>
              <mat-option value="Autre">Autre</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="show()">
            <input matInput placeholder="Nombre Enfants" [(ngModel)]="EditEmploye.enfants"
                   [ngModelOptions]="{standalone: true}">

          </mat-form-field>


          <mat-form-field>
            <label>Departement</label>
            <mat-select [(ngModel)]="EditEmploye.dep.nom" [ngModelOptions]="{standalone: true}" (selectionChange)="selectDepFonction(this.EditEmploye.dep.nom)" >
              <mat-option  *ngFor="let dep of deps" [value]="dep.nom">{{dep.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <label>Fonction</label>
            <mat-select [(ngModel)]="EditEmploye.fonction.libelle" [ngModelOptions]="{standalone: true}" >
              <mat-option *ngFor="let gr of depFonctions" [value]="gr.fonction.libelle">{{gr.fonction.libelle }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field> -->
          <!-- <mat-label *ngIf="employe.departement" >Superieur : {{employe.departement.chef.fullname}}</mat-label> -->
          <!-- <mat-select [(ngModel)]="employe.sup" [ngModelOptions]="{standalone: true}">
              <mat-option>None</mat-option>
              <mat-option value="ana">Ana</mat-option>
              <mat-option value="howa">Howa</mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field>
            <label>Date d Entree</label>
            <input matInput [matDatepicker]="picker5"  [(ngModel)]="EditEmploye.dateEntree"
                   [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
          <!-- <div class="add-bottom-padding">
            <label>Gender : </label>
            <mat-radio-group [(ngModel)]="EditEmploye.gender" [ngModelOptions]="{standalone: true}" [va]>

              <mat-radio-button value="Homme">Homme</mat-radio-button>
              <mat-radio-button value="Femme">Femme</mat-radio-button>

            </mat-radio-group>
          </div> -->
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="update()"> <i class="fa fa-check-square"></i> Confirmer</button>
            <!-- <button mat-raised-button color="warn" (click)="onNoClick()">close1</button> -->
            <!-- <button mat-raised-button mat-dialog-close>Close2</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
