<button  mat-raised-button color="warn" mat-dialog-close style="float: right;"> <i class="fas fa-window-close    "></i> </button>
<h4 style="float:left">Liste des employes ayant dans {{this.getFullName()}}  </h4>
<table class="table table-hover table-striped table-dark " style="color: wheat">
  <thead>
    <th>Full name</th>
    <th>Doti</th>
    <th>Cin</th>
    <th>Email</th>
    <th>Departement</th>
    <th>Fonction</th>
  </thead>
  <tbody>
    <p-progressSpinner *ngIf="listeVide1()"  >Loading...</p-progressSpinner>
    <tr *ngFor="let c of employesByDep">
      <td>{{c.fullName}}</td>
      <td>{{c.doti}}</td>
      <td>{{c.cin}}</td>
      <td>{{c.email}}</td>
      <td>{{c.dep.nom }}</td>
      <td>{{c.fonction.libelle}} </td>
    </tr>
  </tbody>
</table>
