<mat-tab-group mat-stretch-tabs style="width: 100%;">
  <mat-tab label="LISTE DE GRADE NON TRAITES" style="width: 25px" tabindex="1">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <div class="card-header" style="text-align: center"><h1 style="text-align: center"> Liste des demandes Non traité </h1></div>
      <table class="table table-hover table-dark table-striped" style="color: wheat">
        <thead>
        <th>Employe</th>
        <th>Grade</th>
        <th>Date Affectation</th>
        <th style="padding-left: 40px">Action</th>
        </thead>
        <tbody>
        <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

        <tr *ngFor="let c of gradeNonTraite">
          <td>{{c.doti}}</td>
          <td>{{c.grade.libelle}}</td>
          <td>{{c.dateDeAffectation}}</td>
          <td>
            <button class="btn btn-light btn-sm fas fa-plus" (click)="accepterUnRapport(c)"

            ></button>
            <button class="btn btn-info btn-sm fa fa-info" (click)="trouverRapportParEmployeDoti(c)"
            matTooltip="Ce button permet de donner plus d info sur cet element"
            ></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="HISTORIQUE D AVANCEMENT DE CHAQUE EMPLOYE" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
      <app-liste-avancement-non-traite></app-liste-avancement-non-traite>
    </div>
  </mat-tab>
</mat-tab-group>
