
<mat-tab-group mat-stretch-tabs style="width: 100%;">
  <mat-tab label="Liste des employes" style="width: 25%;background-color: brown;">
    <div class="example-small-box mat-elevation-z4">
      Liste dee employes
    </div>
  </mat-tab>
  <mat-tab label="Ajouter un employe" style="width: 25%;">
    <div class="example-large-box mat-elevation-z4">
      Ajouter un employe
    </div>
  </mat-tab>
  <mat-tab label="Editer un employe" style="width: 25%;">
    <div class="example-large-box mat-elevation-z4">
      Editer un employe
    </div>
  </mat-tab>
  <mat-tab label=" Autres" style="width: 25%;">
    <div class="example-large-box mat-elevation-z4">
      Autres...
    </div>
  </mat-tab>
</mat-tab-group>
