<mat-tab-group  style="width: 100%;"  (selectedIndexChange)="demo1BtnClick(tabindex)"
                [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="LISTES DES EMPLOYES AVEC LEURS PRIX " style="width: 25px" tabindex="1">
    <div class="example-large-box mat-elevation-z4" >
      <mat-toolbar (click)="afficher()"  style="cursor: pointer;">
        <mat-toolbar-row>
          <span class="span"> <i class="fas fa-medal    "></i> Chercher les prix d'un employe a partir du <strong>Numéro</strong> </span>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="card" style="background-color: #343a40; color: wheat; text-align: center" id="checherPrix">
        <div class="card-body">
          <mat-form-field  style="width: 500px">
            <mat-label style="text-align: center"> <i class="fas fa-user-tie"></i> Selectionnez l'employe concerené</mat-label>
            <mat-select [(ngModel)]="this.employe.doti" [ngModelOptions]="{standalone: true}" (ngModelChange)="getPrixxByDoti()">
              <mat-option [value]="null">---None---</mat-option>
              <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.firstName + "  " + gr.lastName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field  style="width: 500px">
            <mat-label style="text-align: center"> <i class="fas fa-user-tie"></i> Selectionnez la periode des prix</mat-label>
            <mat-select [(ngModel)]="this.employe.pays" [ngModelOptions]="{standalone: true}" (ngModelChange)="getDernieroutoutPrix()">
              <mat-option value="dernierPeriode">trouvez les derniers prix</mat-option>
              <mat-option value="all">trouvez toutes les prix</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="tablePrix">
        <mat-toolbar>
          <mat-toolbar-row>
            <span class="span"><i class="fas fa-medal    "></i> la liste des prix  </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <table class="table table-hover table-dark table-striped" style="color: wheat">
          <thead>
          <th>Employé</th>
          <th>Nom du Prix</th>
          <th>Date Obtenation</th>
          <!-- <th style="padding-left: 40px">Action</th> -->
          </thead>
          <tbody>
          <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

          <tr *ngFor="let c of prixs">
            <td>{{c.employe.firstName + c.employe.lastName}}</td>
            <td>{{c.prix.libelle}}</td>
            <td>{{c.dateDeObtenation}}</td>
            <!-- <td>
              <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerUnPrix(c)"></button>
              <button class="btn btn-primary btn-sm fa  fa-check-square" ></button>
              <button class="btn btn-info btn-sm fa fa-trash"></button>
            </td> -->
          </tr>
          </tbody>
        </table>
        <button mat-raised-button class="btn"style="background-color: white;color: black;"(click)="imprimerLesPrix(this.prixs)"  ><i class="fa fa-file-pdf"  ></i> Exporter le <b>PDF</b> </button>
        <!-- <button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerLesPrix(this.prixs)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->
      </div>
    </div>
    <!-- <button *ngIf="prixs"  mat-raised-button class="btn btn-primary"style=" margin-top: 20px"(click)="imprimerLesPrix(this.prixs)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->
  </mat-tab>
  <mat-tab label="AFFECTER UN PRIX A UN EMPLOYE" tabindex="2">
    <div class="example-large-box mat-elevation-z4">

    <app-ajouter-prix></app-ajouter-prix>
    </div>
  </mat-tab>

</mat-tab-group>
