 <div class="example-large-box mat-elevation-z4" >
      <mat-toolbar (click)="afficher()"  style="cursor: pointer;">
        <mat-toolbar-row>
          <span class="span"> <i class="fas fa-medal    "></i> Chercher les prix d'un employe a partir du <strong>Numéro</strong> </span>
        </mat-toolbar-row>
      </mat-toolbar>
   <div class="card" style="background-color: #343a40; color: wheat; text-align: center">
     <div class="card-body">
       <button mat-raised-button class="btn"style="background-color: white;color: black;float: left" (click)="ajouterPrix()"> ajouter Prix</button>
       <div class="container" style="padding-top:20px">
         <mat-form-field style="width: 500px" id="NumeroAdministrativePrix">
           <input matInput  [(ngModel)]="employe.doti" placeholder="Numero Administrative :*" [ngModelOptions]="{standalone: true}" [value]="employe.doti">
         </mat-form-field>
         <br>
         <button class="btn btn-light fa fa-search" style="width: 500px" (click)="getPrixxByDoti()"> chercher</button>
       </div>
     </div>
   </div>
 </div>
 <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="tablePrix">
        <mat-toolbar>
          <mat-toolbar-row>
            <div style="float:left;text-align: left;">
            <button mat-raised-button class="btn"style="background-color: white;color: black;"(click)="imprimerLesPrix(this.prixs)"  ><i class="fa fa-file-pdf"  ></i> Exporter le <b>PDF</b> </button>
            <button mat-raised-button class="btn"style="margin-left: 10px;background-color: white;color: black;"(click)="ExporterLesPrixENEXCEL(this.prixs)"><i class="fa fa-file-excel"  ></i> Exporter le <b>EXCEL</b> </button>
            </div>
              <span class="span"><i class="fas fa-medal    "></i> {{titrePrix}} </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <table class="table table-hover table-dark table-striped" style="color: wheat">
          <thead>
          <th>Employé</th>
          <th>Nom du Prix</th>
          <th>Date Obtenation</th>
          <!-- <th style="padding-left: 40px">Action</th> -->
          </thead>
          <tbody>
          <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

          <tr *ngFor="let c of prixs" (click)="modifiePrix(c)">
            <td>{{c.employe.firstName + c.employe.lastName}}</td>
            <td>{{c.prix.libelle}}</td>
            <td>{{c.dateDeObtenation}}</td>
            <!-- <td>
              <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerUnPrix(c)"></button>
              <button class="btn btn-primary btn-sm fa  fa-check-square" ></button>
              <button class="btn btn-info btn-sm fa fa-trash"></button>
            </td> -->
          </tr>
          </tbody>
        </table>

        <!-- <button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerLesPrix(this.prixs)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->
      </div>
    <!-- <button *ngIf="prixs"  mat-raised-button class="btn btn-primary"style=" margin-top: 20px"(click)="imprimerLesPrix(this.prixs)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->
