<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-plus-circle" ></i> Formulaire pour Ajouter Un Département</span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
        <!-- <h3 style="text-align : center">Ajouter Un Departement</h3> -->
        <div class="controles-container">

          <mat-form-field>
            <input matInput placeholder="Nom de Département*" [(ngModel)]="departement.nom" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field>
            <mat-label> <i class="fas fa-user-tie    "></i> Selectionner le Chef de cette Département</mat-label>
            <mat-select [(ngModel)]="departement.chefdoti" [ngModelOptions]="{standalone: true}" >
              <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.doti}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()"> <i class="fas fa-check-circle    "></i> Ajouter</button>
          </div>
        </div>
      </div>
