<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-plus-circle" ></i> Formulaire pour Ajouter Un Département</span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
        <!-- <h3 style="text-align : center">Ajouter Un Departement</h3> -->
        <div class="controles-container">

          <mat-form-field>
            <input matInput placeholder="Nom de Département*" [(ngModel)]="departement.nom" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <div class="row">
            <div class="col-md-6" >
              <mat-form-field style="width: 600px">
                <input matInput  [(ngModel)]="departement.chefdoti" placeholder="Numero Administrative :*" [ngModelOptions]="{standalone: true}" [value]="departement.chefdoti" (pointermove)="trouverEmployedepartementParSonDoti(departement.chefdoti)" (pointercancel)="trouverEmployedepartementParSonDoti(departement.chefdoti)" (pointerleave)="trouverEmployedepartementParSonDoti(departement.chefdoti)">
              </mat-form-field>
            </div>
            <div class="col-md-6" style="margin-top: 10px">
              <div *ngIf="departement.chefdoti != null; else elseBlock" id="fullnameDepartement">{{fullnameDepartement}}</div>
              <ng-template #elseBlock></ng-template>
            </div>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()"> <i class="fas fa-check-circle    "></i> Ajouter</button>
          </div>
        </div>
      </div>
