<mat-tab-group mat-stretch-tabs style="width: 100%;" (selectedIndexChange)="demo1BtnClick(tabindex)"
  [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="LISTE DES CONGES" style="width: 25px" tabindex="1">
    <app-liste-des-conge></app-liste-des-conge>
  </mat-tab>
  <mat-tab label="AFFECTER UN CONGE A UN EMPLOYE" style="width: 25%;" tabindex="2">
    <app-editer></app-editer>
  </mat-tab>
  <!-- <mat-tab label="ListeFonction des jours férier" style="width: 25%;" tabindex="2">
<app-ListeFonction-des-jours-fries></app-ListeFonction-des-jours-fries>
  </mat-tab> -->
</mat-tab-group>
