<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-plus-circle" aria-hidden="true"></i> {{ajouteGradeEmploye}} </span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
    <div class="container-fluid">
          <div class="controles-container">
     <mat-form-field>
        <mat-label> <i class="fas fa-user-tie    "></i> Selectionnez l'employé concerné : </mat-label>
        <mat-select [(ngModel)]="this.gradeEmploye.doti" [ngModelOptions]="{standalone: true}" >
          <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.firstName +' '+ gr.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pi5" placeholder="Date Affectation "
               [(ngModel)]="this.gradeEmploye.dateDeAffectation" [ngModelOptions]="{standalone: true}">
        <mat-datepicker-toggle matSuffix [for]="pi5"></mat-datepicker-toggle>
        <mat-datepicker #pi5></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select [(ngModel)]="this.gradeEmploye.grade.libelle" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let gr of grades" [value]="gr.libelle">{{gr.libelle }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()"> <i class="fas fa-check-square    "></i> Ajouter</button>
      </div>
          </div>
        </div>
  </form>
