<button  mat-raised-button color="warn" mat-dialog-close style="float: right;"> <i class="fas fa-window-close    "></i> </button>
<h4 style="float:left">Liste des employes ayant dans le méme grade </h4>
<table class="table table-hover table-striped table-dark " style="color: wheat">
  <thead>
  <th>#GRADE</th>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Numéro</th>
    <th>Cin</th>
    <th>Email</th>
  </thead>
  <tbody>
    <p-progressSpinner *ngIf="listeVide2()"  ></p-progressSpinner>
    <tr *ngFor="let c of employesByGrade">
    <td > {{c.dernierGrade.grade.libelle}}</td>
      <td >{{c.firstName}}</td>
      <td >{{c.lastName}}</td>
      <td>{{c.doti}}</td>
      <td>{{c.cin}}</td>
      <td>{{c.email}}</td>
    </tr>
  </tbody>
</table>
<button class="btn"style="background-color: white;color: black;float: left"
        matTooltip="Ce button permet d imprimer ce table en format PDF" (click)="imprimerLesEmployesGrade()"
><i class="fa fa-file-pdf" ></i>  Exporter le <strong>PDF</strong> </button>
<button class="btn"style="margin-left: 10px;background-color: white;color: black;float: left"
        matTooltip="Ce button permet d imprimer ce table en format EXCEL" (click)="imprimerLesEmployesGradeENEXCEL()"
><i class="fa fa-file-excel" ></i>  Exporter le <strong>EXCEL</strong> </button>
