<button mat-raised-button matTooltip="Fermer la fenetre" color="warn" mat-dialog-close style="float: right;"> <i
    class="fas fa-window-close "></i> </button>
<div style=" text-align: left; margin-bottom: 10px;">
  <button class="btn" mat-raised-button style="background-color: white;color: black;float: left"
    matTooltip="Ce button permet d imprimer ce table en format PDF" (click)="imprimerRapport()"><i
      class="fa fa-file-pdf"></i> Export <strong>PDF</strong> </button>

  <button class="btn" matTooltip="Ce button permet de editer et modifier ce document" mat-raised-button
    style="background-color: #0057e7;color: beige;margin-left: 10px;" (click)="editRapport()">
    <i class="fa fa-edit"></i> <b>Editer</b> Ce rapport</button>
</div>
<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" id="span"> Rapport de {{rapportEvaluation.employe.firstName + rapportEvaluation.employe.lastName}} pour avancement de
      {{rapportEvaluation.nouveauGrade.grade.libelle}}</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid" style="padding-top:20px">
  <div class="row ">
    <div class="col-md-12">
      <div class="container">
        <h6 class="hh"> Informations Personnels : </h6>
        <div class="row">
          <div class="col-md-6">
            <mat-label style="margin-right: 10px; ">Nom Complet :</mat-label>
            <mat-label>{{rapportEvaluation.employe.firstName + rapportEvaluation.employe.lastName}}</mat-label>
            <br>
            <mat-label style="margin-right: 10px; ">Numéro:</mat-label>
            <mat-label>{{rapportEvaluation.employe.doti}}</mat-label>
            <br>
            <mat-label style="margin-right: 10px;">CIN :</mat-label>
            <mat-label>{{rapportEvaluation.employe.cin}}</mat-label>
          </div>
          <div class="col-md-6">
            <mat-label style="margin-right: 10px;">Adresse :</mat-label>
            <mat-label>{{rapportEvaluation.employe.adresse}}</mat-label>
            <br>
            <mat-label style="margin-right: 10px; ">Situation Familiale:</mat-label>
            <mat-label>{{rapportEvaluation.employe.situationFamiliale}}</mat-label>
            <br>
            <mat-label style="margin-right: 10px; ">Email :</mat-label>
            <mat-label>{{rapportEvaluation.employe.email}}</mat-label>
          </div>
        </div>
      </div>
      <br>
      <div class="container" style="padding-top:20px">
        <h6 class="hh">Informations sur le Grade :</h6>
        <div class="row">
          <div class="col-md-6">
            <mat-label style="margin-right: 10px; ">Libellé :</mat-label>
            <mat-label>{{rapportEvaluation.nouveauGrade.grade.libelle}}</mat-label>
          </div>
          <div class="col-md-6">
            <mat-label style="margin-right: 10px; ">Date Affectation :</mat-label>
            <mat-label>{{rapportEvaluation.nouveauGrade.dateDeAffectation}}</mat-label>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid" style="padding-top:20px">
        <h6>Informations sur les notes de l'évaluation annuel : </h6>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered" style="color: wheat">
              <thead>
                <th>id</th>
                <th>Moyen Générale</th>
                <th>Mention</th>
                <th>Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of rapportEvaluation.noteGenerale">
                  <td>{{c.id}}</td>
                  <td>{{c.moyenGeneral}}</td>
                  <td>{{c.mention}}</td>
                  <td>{{c.date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid" style="padding-top:20px">
        <h6>Liste de Formations : </h6>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered" style="color: wheat">
              <thead>
                <th>id</th>
                <th>Attestation</th>
                <th>Domaine</th>
                <th>établissement</th>
                <th>Ville</th>
                <th>Mention</th>
                <th>Année</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of rapportEvaluation.formation">
                  <td>{{c.id}}</td>
                  <td>{{c.attestation}}</td>
                  <td>{{c.domaine}}</td>
                  <td>{{c.etablissement}}</td>
                  <td>{{c.ville}}</td>
                  <td>{{c.mention}}</td>
                  <td>{{c.annee}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid" style="padding-top:20px">
        <h6>Liste de Prix : </h6>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered" style="color: wheat">
              <thead>
                <th>id</th>
                <th>Libellé</th>
                <th>Date D'Obtenation</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of rapportEvaluation.prix">
                  <td>{{c.id}}</td>
                  <td>{{c.prix.libelle}}</td>
                  <td>{{c.dateDeObtenation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid" style="padding-top:20px">
        <h6>Liste de Punitions : </h6>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered" style="color: wheat">
              <thead>
                <th>id</th>
                <th>Libelle</th>
                <th>Date de punition</th>
              </thead>
              <tbody>
                <tr *ngFor="let c of rapportEvaluation.punition">
                  <td>{{c.id}}</td>
                  <td>{{c.punition.libelle}}</td>
                  <td>{{c.dateObtenation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid" style="padding-top:20px">
        <h6>A propos de la Note Génerale et Les remarques : </h6>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered" style="color: wheat">
              <thead>
                <th>Moyen</th>
                <th>Mention</th>
                <th>Remarques</th>
              </thead>
              <tbody>
                <tr>
                  <td>{{rapportEvaluation.moyen}}</td>
                  <td>{{rapportEvaluation.mention}}</td>
                  <td>{{rapportEvaluation.remarques}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>



    </div>
  </div>

<!-- <button class="btn" style="background-color: yellow;color: beige;width: 80px;" (click)="imprimerRapport()"
  matTooltip="Ce button permet d imprimer rapport sous format PDF "><i class="fa fa-file-pdf"></i> PDF</button> -->
