<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-plus-circle" ></i> Ajouter | Affecter Permanence à un Employé </span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">

          <div class="controles-container">
            <div class="row">
              <div class="col-md-6" >
                <mat-form-field style="width: 600px">
                  <input matInput  [(ngModel)]="permanenceAdministrative.employe.doti" placeholder="Numéro Administrative :*" [ngModelOptions]="{standalone: true}" [value]="permanenceAdministrative.employe.doti" (pointermove)="trouverEmployePermanenceParSonDoti(permanenceAdministrative.employe.doti)" (pointercancel)="trouverEmployePermanenceParSonDoti(permanenceAdministrative.employe.doti)" (pointerleave)="trouverEmployePermanenceParSonDoti(permanenceAdministrative.employe.doti)">
                </mat-form-field>
              </div>
              <div class="col-md-6" style="margin-top: 10px">
                <div *ngIf="permanenceAdministrative.employe.doti != null; else elseBlock" id="fullnamePermanence">{{fullnamePermanence}}</div>
                <ng-template #elseBlock></ng-template>
              </div>
            </div>             <mat-form-field>
              <mat-label> Période : *</mat-label>
              <label>  </label>
              <input matInput  [(ngModel)]="permanenceAdministrative.periode" [ngModelOptions]="{standalone: true}" [value]="permanenceAdministrative.periode" type="number" >
            </mat-form-field>
            <mat-form-field>
              <mat-label> Récupération : *</mat-label>
              <mat-select [(ngModel)]="permanenceAdministrative.recuperation" [ngModelOptions]="{standalone: true}" [value]="permanenceAdministrative.recuperation">
                <mat-option value="true">Oui</mat-option>
                <mat-option value="false">Non</mat-option>
              </mat-select>
            </mat-form-field>
              <mat-form-field>
                <mat-label> Période Récupération : *</mat-label>
              <input matInput  [(ngModel)]="permanenceAdministrative.periodeDeRecuperation" [ngModelOptions]="{standalone: true}" [value]="permanenceAdministrative.periodeDeRecuperation" type="number">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date de permanence ( Début ) : *</mat-label>
              <input matInput [matDatepicker]="picker"
                     [(ngModel)]="permanenceAdministrative.date" [ngModelOptions]="{standalone: true}" [value]="permanenceAdministrative.date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()">  <i class="fas fa-check-circle    "></i> Ajouter</button>
            <!-- <button mat-raised-button color="warn" (click)="onNoClick()">close1</button> -->
            <!-- <button mat-raised-button mat-dialog-close>Close2</button> -->
          </div>
        </div>

</form>
