<div class="container-fluid" style="padding-top:20px">
    <div class="row">
        <div class="col-md-4" style="text-align: center;"> <h4> Historique des activites d Aujourd Hui</h4>

          <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <h3 style="text-align: center;">Top 4 Employes in the Month</h3>
            <mat-chip>Ajouter un employe dans la date 20/05/2020 a l heure 10:12:33 AM</mat-chip>
            <mat-chip>Affecter un conge a l employe dont le doti est fstg234566 dans la date 20/05/2020 a l heure 12:12:33 PM</mat-chip>
            <mat-chip>Evaluer et etudier l avancement de grade de l employe dont le doti est fstg123456 dans la date 20/05/2020 a l heure 06:12:33 AM</mat-chip>
          </mat-chip-list>
        </div>
        <div class="col-md-8" style="text-align: center;"> <h4 >Video presentative : Intro</h4></div>
    </div>
</div>
