<mat-toolbar>
  <mat-toolbar-row>
    <span class="span"> <i class="fas fa-plus-circle    "></i> Formulaire pour Ajouter Un Grade</span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <!-- <h3 style="text-align : center"></h3> -->
    <div class="controles-container">

      <mat-form-field>
        <input matInput placeholder="Nom de Grade*" [(ngModel)]="grade.libelle" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nombre De Poste Non Occupé*" [(ngModel)]="grade.nombreDePosteNonOccupe" [ngModelOptions]="{standalone: true}" type="number">
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()"> <i class="fas fa-check-circle    "></i> Confirmer</button>
      </div>
    </div>
  </div>
