<form class="normal-form">
  <div class="container-fluid">
    <h3 style="text-align : center">Ajouter Un Departement</h3>
    <div class="controles-container">

      <mat-form-field>
        <input matInput placeholder="Nom de Grade*" [(ngModel)]="grade.libelle" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="nombreDePosteNonOccupe*" [(ngModel)]="grade.nombreDePosteNonOccupe" [ngModelOptions]="{standalone: true}" type="number">
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
