<mat-tab-group  style="width: 100%;">
  <mat-tab label="liste des demandes des documents" style="width: 25px" tabindex="1">
    <app-liste-des-documents-employe></app-liste-des-documents-employe>
  </mat-tab>
  <mat-tab label="liste des demandes de document d'un employe" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
      <app-liste-des-demandes-documents-employe></app-liste-des-demandes-documents-employe>
    </div>
  </mat-tab>
  <mat-tab label="ajouter un demandes a un employe" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
      <app-ajouter-un-documents-employe></app-ajouter-un-documents-employe>
    </div>
  </mat-tab>
</mat-tab-group>
