.span {
  margin: auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {

  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}
.scrolli{
  width: 100%;
}
.file {
  margin: 0;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: wheat;
}

thead{
  text-align: center;
  color:white;
}
