<mat-tab-group  style="width: 100%;" (selectedIndexChange)="demo1BtnClick(tabindex)" [(selectedIndex)]="demo1TabIndex">
  <mat-tab label="LISTE DE DEMANDES DE DOCUMENTS" style="width: 25px" tabindex="1">
    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
      <div class="card-header" style="text-align: center"><h1 style="text-align: center"> Liste des demandes Non tarité </h1></div>
      <table class="table table-hover table-dark table-striped" style="color: wheat">
        <thead>
        <th>Employe</th>
        <th>Type de document</th>
        <th>Date de demande</th>
        <th>Maniere de retrait</th>
        <th style="padding-left: 40px">Action</th>
        </thead>
        <tbody>
          <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

        <tr *ngFor="let c of documents">
          <td>{{c.employe.fullName}}</td>
          <td>{{c.typeDeDocument.libelle  || "----"}}</td>
          <td>{{c.dateDemande}}</td>
          <td style="padding-left: 40px">{{c.maniereDeRetrait}}</td>
          <td>
            <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerUneDemande(c)"></button>
            <button class="btn btn-primary btn-sm fa  fa-check-square" (click)="imprimer(c)"></button>
            <button class="btn btn-info btn-sm fa fa-trash" (click)="deleteByReference(c)"></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="HISTORIQUE DE DEMANDES DE CHAQUE EMPLOYE" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
      <app-liste-des-demandes-documents-employe></app-liste-des-demandes-documents-employe>
    </div>
  </mat-tab>
  <mat-tab label="AFFECTER UNE DEMANDE A UN EMPLOYE" style="width: 25%;" tabindex="3">
    <div class="example-large-box mat-elevation-z4">
      <app-ajouter-un-documents-employe></app-ajouter-un-documents-employe>
    </div>
  </mat-tab>
</mat-tab-group>
