<div class="example-large-box mat-elevation-z4" >
  <mat-toolbar  style="cursor: pointer;">
    <mat-toolbar-row>
      <span class="span"> <i class="fas fa-search    "></i> Chercher les congés des employé à partir de <strong> type de certificat médical</strong>  </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card" style="background-color: #343a40; color: wheat; text-align: center" id="checherFormation">
    <div class="card-body">
      <mat-form-field  style="width: 500px">
        <mat-label style="text-align: center">  Sélectionnez le type de certificat</mat-label>
        <mat-select [(ngModel)]="this.congeEmploye.congee.libelle" [ngModelOptions]="{standalone: true}" (ngModelChange)="getcongeCertificat()">
          <mat-option value="certificat long duree">Long Durée</mat-option>
          <mat-option value="certificat court duree 3 mois">Court Durée ( 3 mois )</mat-option>
          <mat-option value="certificat court duree 6 mois">Court Durée ( 6 mois )</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div>
          <label> Date de début :</label>
          </div>
            <input style="margin-left: 10px" type="date" style="background-color: #343a40; width: 500px; border-right: none;border-left: none;border-top: none;" [(ngModel)]="congeEmploye.dateDeDebut" name="trip-start" placeholder="date de debut">
        </div>
        <br>
        <div class="col-md-6">
          <div>
          <label> Date de fin :</label>
          </div>
          <input type="date" style="margin-left: 10px" style="background-color: #343a40; width: 500px; border-right: none;border-left: none;border-top: none;" name="trip-start"[(ngModel)]="congeEmploye.dateDeFin" placeholder="date de fin">
        </div>
        <br>
        <br>
        <div class="col-md-12">
          <div class="button-row">
            <button class="btn btn-light fa fa-search" style="margin-top: 20px;width: 500px" (click)="chercher()"> chercher</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="tableConge">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="span"><i class="fas fa-bed    "></i> {{this.Titre}} </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <table class="table table-hover table-dark table-striped" style="color: wheat">
      <thead>
      <th>Employé</th>
      <th>Type de congé</th>
      <th>Date de début</th>
      <th>Période</th>

      <!-- <th style="padding-left: 40px">Action</th> -->
      </thead>
      <tbody>
      <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

      <tr *ngFor="let c of congesCertificat">
        <td>{{c.employe.firstName +' '+ c.employe.lastName}}</td>
        <td>{{c.congee.libelle}}</td>
        <td>{{c.dateDeDebut}}</td>
        <td>{{c.periode}}</td>

        <!-- <td>
          <button class="btn btn-danger btn-sm fa fa-edit" (click)="editerFormation(c)"></button>
          <button class="btn btn-primary btn-sm fa  fa-check-square" ></button>
          <button class="btn btn-info btn-sm fa fa-trash"></button>
        </td> -->
      </tr>
      </tbody>
    </table>
    <button mat-raised-button class="btn"style="background-color: white;color: black;"  (click)="imprimeristeDesCertificatsPDF()"><i class="fa fa-file-pdf"  ></i> Export <b>PDF</b> </button>
    <button mat-raised-button class="btn"style="background-color: white;color: black;margin-left: 10px" (click)="imprimeristeDesCertificatsEXCEL()"><i class="fa fa-file-excel"  ></i> Export <b>EXCEL</b> </button>
  </div>
</div>
