<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" > <i class="fas fa-search-plus    "></i> Chercher pour voir historique de grade d'un employe </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="padding-top:20px">
  <mat-form-field style="padding-bottom:10px;width:100%">
    <mat-label> <i class="fas fa-user-tie    "></i> Choisir un employer  en utilisant le doti</mat-label>
    <mat-select [(ngModel)]="this.employeInfo.doti" [ngModelOptions]="{standalone: true}" (selectionChange)="findAllGradeEmployeByDoti(employeInfo.doti)">
      <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.fullName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="fourmule">
    <div class="card-header" style="text-align: center"><h1 style="text-align: center"> Liste des grades de employe ayant le nombre doti : {{employeInfo.doti}} </h1></div>
    <table class="table table-hover table-dark table-striped" style="color: wheat">
      <thead>
      <th>employe</th>
      <th>grade</th>
      <th>Date Affectation</th>
      <th style="padding-left: 40px">Action</th>
      </thead>
      <tbody>
      <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

      <tr *ngFor="let c of gradesEployess">
        <td>{{c.doti}}</td>
        <td>{{c.grade.libelle}}</td>
        <td>{{c.dateDeAffectation}}</td>
        <td>
          <button class="btn btn-info btn-sm fa fa-info" (click)="trouverRapportParEmployeDoti(c)"
          matTooltip="Ce button permet de donner le rapport de en detailles cet element"
          ></button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerLesGradesDeEmploye(this.gradesEployess)" ><i class="fa fa-file-pdf"  ></i> PDF</button>
  </div>
</div>
<!-- <button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerLesGradesDeEmploye(this.gradesEployess)" ><i class="fa fa-file-pdf"  ></i> PDF</button> -->

