  <mat-toolbar (click)="afficher()">
    <mat-toolbar-row>
      <span class="span"> <i class="fas fa-search "></i> chercher historique d'avancement d'un employe </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card" style="background-color: #343a40; color: wheat; text-align: center" id="checherGrade">
    <div class="card-body">
      <mat-form-field  style="width: 500px">
        <mat-label style="text-align: center"> <i class="fas fa-user-tie"></i> Selectionnez l employe concerene</mat-label>
        <mat-select [(ngModel)]="this.employeInfo.doti" [ngModelOptions]="{standalone: true}" (ngModelChange)="findAllGradeEmployeByDoti(this.employeInfo.doti)">
          <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.doti}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px" id="fourmule">
    <div class="card-header" style="text-align: center"><h1 style="text-align: center"> Liste des grades de employe ayant le nombre doti : {{employeInfo.doti}} </h1></div>
    <table class="table table-hover table-dark table-striped" style="color: wheat">
      <thead>
      <th>employe</th>
      <th>grade</th>
      <th>Date Affectation</th>
      <th style="padding-left: 40px">Action</th>
      </thead>
      <tbody>
      <p-progressSpinner *ngIf="listeVide()"></p-progressSpinner>

      <tr *ngFor="let c of gradesEployess">
        <td>{{c.doti}}</td>
        <td>{{c.grade.libelle}}</td>
        <td>{{c.dateDeAffectation}}</td>
        <td>
          <button class="btn btn-danger btn-sm fa fa-info" (click)="trouverRapportParEmployeDoti(c)"></button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn"style="background-color: yellow;color: beige;width: 80px;margin-left: 240px; margin-top: 20px"(click)="imprimerLesGradesDeEmploye(this.gradesEployess)" ><i class="fa fa-file-pdf"  ></i> PDF</button>
  </div>

