<mat-tab-group mat-stretch-tabs style="width: 100%;">
  <mat-tab label="A PROPOS DE DEPARTEMENTS" style="width: 25px" tabindex="1">

  <div class="example-large-box mat-elevation-z4">
<app-departement></app-departement>
</div>
  </mat-tab>
  <mat-tab label="A PROPOS DE GRADES" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
<app-grade></app-grade>
    </div>
  </mat-tab>
  <mat-tab label="ORG DE FSTG MARRAKECH" style="width: 25%;" tabindex="2">
    <div class="example-large-box mat-elevation-z4">
<app-architecture-org></app-architecture-org>
    </div>
  </mat-tab>
</mat-tab-group>
