<mat-toolbar>
  <mat-toolbar-row>
    <span class="span">Architecture Interne de la FSTG </span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3 style="text-align : center">Ajouter Un Departement</h3>
        <div class="controles-container">
          <mat-form-field>
            <input matInput placeholder="ID de Departement*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nom de Departement*">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nom de Chef de Departement</mat-label>
            <mat-select>
              <mat-option value="ahmed">Ahmed</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 style="text-align : center">Ajouter Un Grade</h3>
        <div class="controles-container">
          <mat-form-field>
            <input matInput placeholder="ID de Grade*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Libelle de Grade*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nombre de poste non ocuupe *">
          </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 style="text-align : center">Ajouter Un Fonction</h3>
        <div class="controles-container">

          <mat-form-field>
            <input matInput placeholder="ID de Fonction*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nom de Fonction*">
          </mat-form-field>


          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block">Submit</button>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <h3 style="text-align : center">Ajouter Un Type de conge</h3>
        <div class="controles-container">

          <mat-form-field>
            <input matInput placeholder="ID de Conge*">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Nom de Conge*">
          </mat-form-field>


          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" class="btn-block">Submit</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
