<div class="container" style="padding-top: 30px; text-align: center;">
  <h6 style="text-align: center;" >
  <i class="fas fa-video    "></i> Titre de vidéo 
    
  </h6>
  <video
    class="video-fluid z-depth-1"
    autoplay
    loop
    controls
    muted
    style="width: 800px; margin: 20px;"
  >
    <source src="../../../assets/video/PFE4.mp4" type="video/mp4" />
  </video>
</div>

<div class="container" style="padding-top: 15px;">
  <div class="row">
    <div class="col-md-12">
      <h6 style="text-align: center;cursor:pointer" (click)="show()">
        <i class="fas fa-history"></i> Historique de l'activité d'Aujourd'Hui
        <i class="fas fa-chevron-circle-down"></i>
      </h6>
      <div class="scrolli" style="overflow: scroll;" id="menu1">
        <mat-chip-list
          class="mat-chip-list-stacked"
          aria-label="Color selection"
        >
          <mat-chip
            >Ajouter un fonctionnaire au liste des employes a 29/03/2020 a
            12:22:01 AM
          </mat-chip>
          <mat-chip
            >Affecter un conge de type exceptonnelle au employe dont le doti est
            FSG23462 a 29/03/2020 a 02:52:21 PM
          </mat-chip>
          <mat-chip
            >Evaluer et etudier le grade de l employe dont le doti est FSG23462
            a 29/03/2020 a 02:52:21 PM
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
