<div class="container-fluid images">
  <div class="row">
    <div class="col-md-7 fs" style="margin-top:180px;text-align: center;">
      <!-- <h2>FSTG MARRAKECH</h2> -->
      <!-- <h6>Gestion du personnel , avancement , conges , demandes en lignes de documents ,...</h6> -->
      <img id="im" src="assets/images/login2.svg" class="animate__animated animate__fadeInUp animate__repeat-5" width="590px" />
      <img id="fst" class="animate__animated animate__fadeInLeft animate__repeat-4" src="assets/images/fstgLogo.png"  />
    </div>
    <div class="col-md-5 cc" style="padding: 40px;margin-top: 80px;margin-bottom: 90px; text-align: center; ">
      <h2 id="service" class="animate__animated animate__bounce animate__repeat-3"> <b>Service des Ressources Humaines</b> </h2>
      <span class="hh">
        <!-- <h2>FSTG MARRAKECH</h2> -->
        <!-- <h6>Gestion du personnel , avancement , conges , demandes en lignes de documents ,...</h6> -->
      </span>
      <div class="card bg-secondary text-white" style=" box-shadow: 0px 13px 90px -7px #848d97; border-radius: 10px;">
        <div class="card-header" style="text-align: center;">
          <countdown [config]="{ leftTime: 900, format: 'mm:ss' }" (event)="showw()" id="count"></countdown>
          <h5 id="span"><i class="fas fa-user-circle" style="font-size: 60px;"></i><br> {{this.loginTitre}}</h5>
        </div>
        <div class="card-body">
          <div class="alert alert-danger alert-dismissible" *ngIf="showErrors" role="alert">
            <strong>Oups !!</strong> Email ou password Incorrect
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail"><i class="	fas fa-user-tie"></i> Email</label>
              <input  class="form-control"  id="exampleInputEmail" placeholder="email@email.com" [(ngModel)]="userEmploye.login" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"><i class="fa fa-lock"></i> Mot de Passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" [(ngModel)]="userEmploye.pwd" [ngModelOptions]="{standalone: true}">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-outline btn-block  bouton" matTooltip="Se connecter" (click)="Login()" >Se Connecter</button>
          <hr>
          <a [routerLink]="['/forgetPassword']" (click)="sendcodeeDeVerification()" routerLinkActive="active"  class="lien" style="color: white;"><span style="text-align: center;display:block"><i
            class="	fas fa-key" style=" font-size: 15px;"></i> J'oublie mon mot de passe ?</span></a>

        </div>
      </div>
    </div>
  </div>
</div>
