<div class="container-fluid" style="padding-top: 20px;padding-bottom: 10px;color:black">
  <div class="row">
    <div class="col-md-12">
        <!---Le calendrier  de permanence contient le jour et le nom d employe permamnent -->
<!--
      <full-calendar [header]="{ left:'title',
        center :'dayGridMonth,dayGridWeek',right:'today prev,next'
      }" [events]=calendarEvents [plugins]="calendarPlugins"></full-calendar> -->
      <h3>Ajouter un permanence</h3>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Choose a date To Start</mat-label>
              <input matInput type="date" >

            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Choose a date To End</mat-label>
              <input matInput type="date" >

            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>NumDoti du personnel</mat-label>
              <input matInput >
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">Liste de permanence : ( details )</div>
  </div>
</div>





