<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-plus-circle "> {{ajouteCongeEmp}} </i> </span>
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <div class="controles-container">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field style="width: 600px">
            <input matInput  [(ngModel)]="congeEmploye.employe.doti" placeholder="Numéro Administrative :*" [ngModelOptions]="{standalone: true}" [value]="congeEmploye.employe.doti" (pointermove)="trouverEmployerParSonDoti(congeEmploye.employe.doti)" (pointercancel)="trouverEmployerParSonDoti(congeEmploye.employe.doti)" (pointerleave)="trouverEmployerParSonDoti(congeEmploye.employe.doti)">
          </mat-form-field>
        </div>
        <div class="col-md-6" style="margin-top: 10px" id="fullnameconge">
          <div *ngIf="congeEmploye.employe.doti != null; else elseBlock" >{{fullnameConge}}</div>
          <ng-template #elseBlock></ng-template>
        </div>
      </div>
<!--      <mat-form-field>
        <mat-label> <i class="fas fa-user-tie    "></i> Trouver l'employé concerné </mat-label>
        <mat-select [(ngModel)]="congeEmploye.employe.doti" [ngModelOptions]="{standalone: true}"
          [value]="congeEmploye.employe.doti">
          <mat-option *ngFor="let gr of employes" [value]="gr.doti">{{gr.firstName +' '+ gr.lastName}}</mat-option>
        </mat-select>
      </mat-form-field>-->
      <mat-form-field>
        <mat-label>Type de Congé:*</mat-label>
        <mat-select [(ngModel)]="congeEmploye.congee.libelle" [ngModelOptions]="{standalone: true}"  [value]="congeEmploye.congee.libelle" (ngModelChange)="ajouterRaison(this.congeEmploye.congee.libelle)">
          <mat-option *ngFor="let gr of typeConge" [value]="gr.libelle">{{gr.libelle }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="raison">
        <mat-label>Raison :*</mat-label>
        <input matInput [(ngModel)]="congeEmploye.raison" placeholder="description" [ngModelOptions]="{standalone: true}"
               [value]="congeEmploye.raison" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date de début de Congé:*</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="congeEmploye.dateDeDebut"
          [ngModelOptions]="{standalone: true}" [value]="congeEmploye.dateDeDebut">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Période :*</mat-label>
        <input matInput [(ngModel)]="congeEmploye.periode" placeholder="Ex: 90 jours" [ngModelOptions]="{standalone: true}"
          [value]="congeEmploye.periode" type="number">
      </mat-form-field>
    </div>
    <div class="button-row">
      <button  mat-raised-button color="primary" type="submit" class="btn-block" (click)="save()"> <i class="fas fa-check-circle    "></i> Ajouter</button>
      <!-- <button mat-raised-button color="warn" (click)="onNoClick()">close1</button> -->
      <!-- <button mat-raised-button mat-dialog-close>Close2</button> -->
    </div>
  </div>

</form>
