<button  mat-raised-button color="warn" mat-dialog-close style="float: right;"> <i class="fas fa-window-close    "></i> </button>
<h4 style="float:left">Historique de demande de documents de cet employe </h4>
<table class="table table-hover table-dark table-striped" style="color: wheat">
  <thead>
  <th>Nom Complet</th>
  <th>Type de document</th>
  <th>Date de demande</th>
  <th>Maniere de retrait</th>
  </thead>
  <tbody>
    <p-progressSpinner *ngIf="listeVide2()"  ></p-progressSpinner>
  <tr *ngFor="let c of documentsByDoti">
    <td>{{c.employe.fullName}}</td>
    <td>{{c.typeDeDocument.libelle}}</td>
    <td>{{c.dateDemande}}</td>
    <td >{{c.maniereDeRetrait}}</td>
  </tr>
  </tbody>
</table>
