@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~primeng/resources/themes/luna-pink/theme.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~ngx-toastr/toastr';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
button:focus{
    outline:1px none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
