<mat-sidenav-container class="example-container" class="side-barr">
  <!--- *ngIf="conncter"-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="padding:15px;width: 295px;">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span style="text-align:center ;color:#b0bec5" class="span"> <i class="fas fa-school"
            style="font-size: 45px;text-align: center;"></i>
          <br> FSTG Marrakech </span>
      </mat-list-item>
      <mat-list-item [routerLink]="[{ outlets: { un: ['historique'] } }]" class="list2" role="listitem"
      style="margin-top: 35px; margin-bottom:4px;">
      <h6> <i class="fas fa-history"></i> Historique Et Vidéo</h6>
    </mat-list-item>
    <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['overview'] } }]" class="list1" role="listitem"
        >
        <h6><i class="fas fa-tachometer-alt"></i> Overview</h6>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item [routerLink]="[{ outlets: { un: ['personnel'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-user-circle"></i> Administration du personnel</h6>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item [routerLink]="[{ outlets: { un: ['abscence'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-bed"></i> Congés Exceptionnels</h6>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['documents'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-file"></i> Demandes des documents</h6>
      </mat-list-item>
      <mat-divider></mat-divider>

      <!-- // blasst mandiru certificats ghandiru punition w formation w prix blasstha hh-->
      <mat-list-item [routerLink]="[{ outlets: { un: ['FPP'] } }]" class="list1" role="listitem">
        <h6> <i class="fas fa-bookmark"></i> Formation,Prix et Punition</h6>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['evaluation'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-sticky-note"></i> Evaluation Et Notation</h6>
      </mat-list-item>


      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['avancement'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-forward"></i> Avancement</h6>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['permanence'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-calendar-check    "></i> Permanence Administrative</h6>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <mat-list-item [routerLink]="[{ outlets: { un: ['statsDuMois'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-chart-bar"></i> Statistic du mois</h6>
      </mat-list-item>
      <mat-list-item [routerLink]="[{ outlets: { un: ['statsDuAnnee'] } }]" class="list1" role="listitem">
        <h6><i class="fas fa-chart-line"></i> Statistic de l annee</h6> -->
      <!-- </mat-list-item> -->
      <!-- <br><br><br><br><br> -->
      <mat-list-item [routerLink]="[{ outlets: { un: ['architecture'] } }]" class="list1" role="listitem">
        <h6> <i class="fas fa-building"></i> Architecture Interne</h6>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="[{ outlets: { un: ['parametresAvances'] } }]" class="list1" role="listitem">
        <h6>    <i class="fas fa-cog"></i>  Paramètres Avancés</h6>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list1" role="listitem" [routerLink]="['']" routerLinkActive="active">
        <h6><i class="fas fa-sign-out-alt"></i> Se Déconnecter</h6>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="navbar navbar-light box-shadow">
      <button mat-mini-fab (click)="sidenav.toggle()"><i class="fas fa-bars" style="font-size:25px;"></i></button>
      <form class="form-inline my-lg-0">
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="badge()">
          <mat-icon class="icons" [matBadge]="ex" matBadgePosition="above after" matBadgeSize="small"
            [matBadgeHidden]="hideMatBadge" matBadgeColor="warn" style="cursor: pointer;" matTooltip="Notifications">
            notifications
            <!-- <i class="fas fa-bell"></i> -->
          </mat-icon>
        </button>
        <mat-menu class="my-class" #menu="matMenu">
          <h6 style="text-align:center;color:white">{{this.time| date: 'MMMM dd, y, hh:mm:ss aa' }} </h6><hr>
          <a mat-menu-item [routerLink]="[{ outlets: { un: ['documents'] } }]">
            <i class="fas fa-file"></i>  Liste de demandes de documents d'Aujourd'hui </a>
          <a mat-menu-item [routerLink]="[{ outlets: { un: ['evaluation'] } }]">
            <i class="fas fa-sticky-note"></i>  Liste des employés qui ont l'évaluation Aujourd'hui</a>
          <a mat-menu-item [routerLink]="[{ outlets: { un: ['avancement'] } }]">
            <i class="fas fa-forward"></i>  Liste des employés qui ont l'étude de l'avancement Aujourd'hui</a>
        </mat-menu>

        <!-- <button class="icons" mat-raised-button matTooltip="This is your profile"><i class="fas fa-user-circle"></i>
          Profile</button> -->
        <button class="icons" mat-raised-button [matMenuTriggerFor]="menu2"><i class="fas fa-cog"></i></button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item [routerLink]="['']" routerLinkActive="active"><i class="fas fa-sign-out-alt"></i> Se
            Déconnecter</button>
          <!-- <button mat-menu-item>Autres</button> -->
        </mat-menu>

      </form>
    </nav>
    <router-outlet name="un"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
